html {
    font-family: sans-serif;
}
header {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #fff;
    top: 0;
    transition: 0.5s;
    align-items: center;
    padding: 0 15vw;
    box-sizing: border-box;
    z-index: 999;
    position: fixed;
}

.l-header__logo img {
    width: auto;
    height: 130px;
}
.l-header__link {
    display: flex;
}
.c-link__icon img,
.open-btn1 img {
    width: 25px;
    height: 25px;
}
.l-header__link a {
    margin-left: 15px;
}
.p-itemcategory__list li,
.p-collection__list li {
    display: none;
}
.has-child.active ul li,
.p-itemcategory__list.active li,
.p-collection__list.active li{
    display: block;
}
.open-btn1.active{
    position: absolute;
    right: 16vw;
    z-index: 10;
    background: url(./../images/icon-close.png) no-repeat center;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.open-btn1.active img{
    display: none;
}
.open-btn1:hover {
    cursor: pointer;
}
#search-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    padding: 3.8vw 20vw;
    top: 0;
    left: 0;
}
#search-wrap.active {
    display: block;
}
#search-text{
    outline: 1px solid #000;;
    cursor: pointer;
    color: gray;
}
#search-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    width: 55%;
    border: none;
    letter-spacing: 0.05em;
    /* height: 18px; */
    padding: 10px;
    padding-right: 4vw;
}
#search-text::placeholder {
	text-align: start;
}
#searchsubmit {
    position: absolute;
    top: 50%;
    right: 21vw;
    transform: translateY(-50%);
    background: url(./../images/icon-search.png) no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
}
#search-wrap.active #searchsubmit {
    outline: none;
    border: none;
}


@media screen and (max-width: 869px) {
    /* SP style */
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem!important;
    }
    .l-header__menu {
        order: 1;
    }
    .l-header__logo {
        order: 2;
    }
    .l-header__link {
        order: 3;
    }
    .l-header__logo img {
        width: auto;
        height: 80px;
    }
    .l-header__menu {
        position: fixed;
        top: 15vw;
        right: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        padding: 50px 0;
        display: flex;
        background-color: #fff;
    }
    .l-header__menu li {
        padding: 15px 0px 15px 50px;
        width: 100vw;
    }
    .l-header__menu a {
        font-size: 17px;
        color: gray;
        text-decoration: none;
    }
    .l-header__menu.active li:hover {
        background-color: #f3f3f3;
        cursor: pointer;
    }
    #search-wrap {
        padding: 0;
    }
    #searchsubmit {
        right: 12%;
    }
    #search-text {
        left: 0;
        width: 85%;
        margin-left: 4%;
        box-sizing: border-box;
    }

    /*humbergerで使用*/
    header.active,
    .l-header__menu.active,
    .p-humbergerBottom.active{ 
        position: fixed;
    }
    .p-humbergerBottom {
        display: none;
        position: absolute;
        display: block;
        z-index:  5;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 0px;
        background-color: #f3f3f3;
    }
    .p-humbergerBottom a {
        text-decoration: none;
        color: gray;
        align-items: center;
        margin: 15px 0px;
        padding-left: 30px;
    }
    .c-user {
        display: flex;
    }
    .c-user p {
        display: block;
    }
    .open-btn1.active {
        right: 6%;
    }
    /*humberger*/
    .humberger {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #fff;
    }
    .humberger:hover {
        cursor: pointer;
    }
    .humberger .humberger-bar {
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
    }
    .humberger .humberger-first {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: gray;
        transition: all .15s linear;
    }
    .humberger .humberger-second {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: gray;
        transition: all .15s linear;
        transform: translateY(-8px) rotate(0deg);
    }
    .humberger .humberger-third {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: gray;
        transition: all .15s linear;
        transform: translateY(8px) rotate(0deg);
    }
    .humberger.isClosed {
        z-index: 5;
    }
    .humberger.isClosed .humberger-first {
        opacity: 0;
    }
    .humberger.isClosed .humberger-second {
        transform: translateY(0) rotate(45deg);
    }
    .humberger.isClosed .humberger-third {
        transform: translateY(0) rotate(-45deg);
    }
    /* アニメーション前のメニューの状態 */
    .l-header__menu,
    .p-humbergerBottom {
        transform: translateX(-100vw);
        transition: all .3s linear;
    }
    /* アニメーション後のメニューの状態 */
    .l-header__menu.active,
    .p-humbergerBottom.active {
        transform: translateX(0);
    }
}

@media screen and (min-width: 870px) {
    /* PC style */
    .l-header__logo {
        flex: 1;
        margin-right: 20px;
    }
    .l-header__menu {
        flex: 4;
        margin-right: 20px;
    }
    .l-header__link {
        flex:1.5;
        justify-content: flex-end;
    }
    .humberger {
        display: none;
    }
    .l-header__menu ul {
        display: flex;
        /* justify-content: center; */
    }
    .l-header__menu li {
        margin-right: 20px;
    }
    .l-header__menu li:last-child {
        margin-right: 0px;
    }
    .l-header__menu a {
        font-size: 13px;
        color: gray;
        text-decoration: none;
    }
    .l-header__menu a:hover {
        text-decoration: underline 2px;
    }
    .humberger-instagram, .c-user p {
        display: none;
    }
    /*2階層目以降は横並びにしない*/
    nav ul ul{
        display: block;
    }
    /*下の階層のulや矢印の基点にするためliにrelativeを指定*/
    nav ul li{
        position: relative;
    }
    /*ナビゲーションのリンク設定*/
    nav ul li a{
        display: block;
        text-decoration: none;
        color: #999;
        margin-right: 20px;
    }

    .has-child.active ul li{
        display: block;
    }

    .p-itemcategory__list,
    .p-collection__list {
        margin: 10px;
        padding-left: 20px;
    }
    .p-itemcategory__list a,
    .p-collection__list a {
        margin-right: 0!important;
        padding: 10px 0!important;
        color: gray;
        font-size: 11px;
        text-align: left;
    }
    .p-itemcategory__list li,
    .p-collection__list li {
        margin-right: 0!important;
    }
    .p-itemcategory__list a:hover,
    .p-collection__list a:hover {
        text-decoration: underline;
    }
    .has-child ul{
        /*絶対配置で位置を指定*/
        position: absolute;
        left: -20px;
        top: 15px;
        z-index: 4;
        background: #fff;
        width: 170px;
        /*はじめは非表示*/
        display: none;
        box-shadow: 0 0 1px gray;
    }
    /*2階層目を持つliの矢印の設定*/
    .has-child::before{
        content:'';
        position: absolute;
        right: 5px;
        top: 2px;
        width:6px;
        height:6px;
        border-top: 2px solid #999;
        border-right:2px solid #999;
        transform: rotate(135deg);
    }     
    nav ul li.has-child.active::before{
        top: 4px;
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 1150px) and (min-width: 870px) {
    header {
        padding: 0 50px;
    }
}