.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 1s;
  }
.fadein.scroll-fadein{
    opacity : 1;
    transform : translate(0, 0);
}


/*slider*/
.p-slider__list {
    height: 60vw;
}
.c-slider__items {
    height: 60vw;
    width: 90%;
    background-size: cover;
    border-bottom: 1px solid lightgray;
}
.c-image1 {
    background-image: url(./../images/slide1.jpeg);
}
.c-image2 {
    background-image: url(./../images/slide2.jpeg);
}
.c-image3 {
    background-image: url(./../images/slide3.jpeg);
}


/*news*/
.l-news__title {
    display: flex;
    justify-content: center;
}
.l-news__title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
}
.p-news__list {
    display: flex;
    margin: 20px 0;
}
.p-news__list a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
.c-news__title {
    margin: 10px 0;
    line-height: 23px;
}
.c-news__title span:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.c-news__date {
    font-size: 10px;
}


/*products*/
.l-products__title {
    display: flex;
    justify-content: center;
}
.l-products__title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
}
.p-products__list a {
    color: #000;
    text-decoration: none;
}
.p-products__list a:hover span{
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.c-products__name {
    padding-bottom: 15px;
}
.p-products__text {
    padding: 15px 0;
}



/*recommend*/
.l-recommend__title {
    display: flex;
    justify-content: center;
}
.l-recommend__title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
}
.p-recommend__list a {
    color: #000;
    text-decoration: none;
}
.p-recommend__list a:hover span{
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.c-recommend__name {
    padding-bottom: 15px;
}
.p-recommend__text {
    padding: 15px 0;
}


/*banner*/
.p-banner {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.p-banner__wrap {
    overflow:hidden;
}
.c-concept {
    position: relative;
    float: left;
    background-image: url(./../images/banner1.jpeg);
    background-size: cover;
    width: calc(50% - 2vw);
    height: 46vw;
    margin: 1vw;
}
.c-concept::before {
    content: 'CONSEPT';
    position: absolute;
    color: #fff;
    bottom: 50%;
    left: 20px;
    box-sizing: inherit;
}
.c-craft {
    position: relative;
    float: left;
    background-image: url(./../images/banner2.jpeg);
    background-size: cover;
    width: calc(50% - 2vw);
    height: 22vw;
    margin: 1vw;
}
.c-craft::before {
    content: 'CRAFT';
    position: absolute;
    color: #fff;
    top: 10%;
    left: 20px;
    box-sizing: inherit;
}
.c-quality {
    position: relative;
    float: left;
    background-image: url(./../images/banner3.jpeg);
    background-size: cover;
    width: calc(50% - 2vw);
    height: 22vw;
    margin: 1vw;
}
.c-quality::before {
    content: 'QUALITY';
    position: absolute;
    color: #fff;
    top: 10%;
    left: 20px;
}


/*button*/
.c-allview {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 180px;
    padding: 15px 0;
    margin: auto;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 25px;
}
.c-allview:hover {
    color: #000;
    background-color: #fff;
}
.c-viewmore {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 15px 0;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 25px;
}
.c-viewmore:hover {
    box-shadow: 0 0 0 1px #000;
    transition: .3s;
}

@media screen and (max-width: 869px) {
    /* SP style */
    .l-slider {
        padding-bottom: 50px;
    }


    /*news*/
    .l-news {
        padding-bottom: 50px;
    }
    .p-news__list {
        padding-left: 20px;
    }
    .p-news__list li {
        width: 90vw;
        margin-right: 1vw;
    }
    .c-news__img img {
        width: 100%;
        height: 55vw;
    }


    /*products*/
    .l-products {
        padding-bottom: 160px;
        position: relative;
    }
    .p-products__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px 25px 0;
    }
    .p-products__list li {
        width: calc(100% / 2 - 1vw);
        margin: 0.5vw;
    }
    .c-products__img {
        position: relative;
    }
    .c-products__img img {
        width: 100%;
        height: 45vw;
    }
    .c-products__img img:nth-of-type(1) {
        display: none;
    }
    .p-products__list a {
        font-size: 15px;
    }
    .c-products__name {
        font-size: 11px;
    }


    /*recommend*/
    .l-recommend {
        padding-bottom: 160px;
        position: relative;
    }
    .p-recommend__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px 25px 0;
    }
    .p-recommend__list li {
        width: calc(100% / 2 - 1vw);
        margin: 0.5vw;
        }
    .c-recommend__img img {
        width: 100%;
        height: 45vw;
    }
    .c-recommend__img img:nth-of-type(1) {
        display: none;
    }
    .p-recommend__list a {
        font-size: 15px;
    }
    .c-recommend__name {
        font-size: 11px;
    }


    /*banner*/
    .c-concept::before {
        font-size: 20px;
    }
    .c-craft::before {
        font-size: 20px;
    }
    .c-quality::before {
        font-size: 20px;
    }


    .c-button__link {
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 870px) {
    /* PC style */
    .section-wrap {
        padding:0 8vw;
    }


    /*news*/
    .l-news {
        width: calc(100% - 50px);
        padding: 50px 20px;
    }
    .p-news__list li {
        width: calc(100% / 4);
        margin-right: 10px;
        overflow:hidden;
    }
    .p-news__list li:last-child {
        margin-right: 0;
    }
    .c-news__img {
        overflow:hidden;
        position: relative;
    }
    .c-news__img img{
        width: 100%;
        height: 13vw;
        transition: all 0.5s ease-in-out;
        object-fit: cover;
    }
    .c-news__img img:hover {
        transform:scale(1.02);
    }
    .p-news__text {
        position: absolute;
        width: calc(100% / 4 - 5vw)
    }


    /*product*/
    .l-products {
        width: calc(100% - 50px);
        padding: 0 20px 50px;
    }
    .p-products__list {
        display: flex;
        margin: 20px 0;
    }
    .p-products__list li {
        position: relative;
        width: calc(100% / 4);
        margin-right: 10px;
        height: 25vw;
    }
    .p-products__list li:last-child {
        margin-right: 0px;
    }
    .c-products__img {
        position: relative;
        width: 100%;
    }
    .c-products__img img {
        width: 100%;
        aspect-ratio: 1;
        position: absolute;
        -webkit-transition: .5s ease-in-out;
        transition: .2s ease-in-out;
    }
    .p-products__list a:hover img:nth-of-type(1) {
        transform:scale(1.02);
        box-sizing: border-box;
    }
    .p-products__list a:hover img:nth-of-type(2) {
        opacity: 0;
    }
    .p-products__list a {
        font-size: 16px;
    }
    .c-products__name {
        font-size: 13px;
    }
    .p-products__text {
        bottom: 0;
        position: absolute;
    }


    /*recommend*/
    .l-recommend {
        width: calc(100% - 50px);
        padding: 0 20px 50px;
    }
    .p-recommend__list {
        display: flex;
        margin: 20px 0;
    }
    .p-recommend__list li {
        position: relative;
        width: calc(100% / 4);
        margin-right: 10px;
        height: 25vw;
    }
    .p-recommend__list li:last-child {
        margin-right: 0px;
    }
    .c-recommend__img {
        position: relative;
        width: 100%;
    }
    .c-recommend__img img {
        width: 100%;
        aspect-ratio: 1;
        position: absolute;
        -webkit-transition: .5s ease-in-out;
        transition: .2s ease-in-out;
    }
    .p-recommend__list a:hover img:nth-of-type(1) {
        transform:scale(1.02);
        box-sizing: border-box;
    }
    .p-recommend__list a:hover img:nth-of-type(2) {
        opacity: 0;
    }
    .p-recommend__list a {
        font-size: 16px;
    }
    .c-recommend__name {
        font-size: 13px;
    }
    .p-recommend__text {
        bottom: 0;
        position: absolute;
    }


    /*banner*/
    .c-concept::before {
        font-size: 30px;
    }
    .c-craft::before {
        font-size: 30px;
    }
    .c-quality::before {
        font-size: 30px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 870px) {
    /* PC style */
    .section-wrap {
        padding: 0 30px;
    }
    .p-recommend__list li,
    .p-products__list li {
        height: 29vw;
    }
}